/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <9 18>;
        };

        apostrophe {
            bindings = <&kp SQT>;
            key-positions = <18 28>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <32 33>;
        };

        language {
            bindings = <&kp LS(LALT)>;
            key-positions = <32 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt RIGHT_BRACKET Q  &kp W      &kp E  &kp R             &kp T  &kp Y          &kp U  &kp I            &kp O    &mt LEFT_BRACKET P
&kp A                &kp S      &kp D  &kp F             &kp G  &kp H          &kp J  &kp K                     &kp L
&kp Z                &kp X      &kp C  &kp V             &kp B  &kp N          &kp M  &kp COMMA        &kp DOT  &mt BACKSLASH SLASH
&kp LCTRL            &lt 2 ESC         &mt LSHIFT SPACE         &mt TAB ENTER         &lt 1 BACKSPACE           &kp LALT
            >;

            label = "MAIN";
        };

        lower_layer {
            bindings = <
&mt F12 F1       &kp F2       &kp F3    &kp F4      &kp F5       &kp F6     &kp F7         &kp F8        &kp F9  &mt F11 F10
&kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp AMPERSAND  &kp ASTERISK          &mt RIGHT_PARENTHESIS LEFT_PARENTHESIS
&kp N1           &kp N2       &kp N3    &kp N4      &kp N5       &kp N6     &kp N7         &kp N8        &kp N9  &kp N0
&trans           &trans                 &trans                   &trans                    &trans                &trans
            >;

            label = "SYM";
        };

        raise_layer {
            bindings = <
&mt KP_NUMLOCK KP_SLASH   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MINUS  &kp C_VOLUME_UP    &kp HOME      &kp PRINTSCREEN  &kp PG_UP      &mt CAPS SCROLLLOCK
&kp KP_MULTIPLY           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS   &kp LEFT           &kp UP_ARROW  &kp RIGHT_ARROW                 &kp INSERT
&mt KP_EQUAL KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT    &kp C_VOLUME_DOWN  &kp END       &kp DOWN_ARROW   &kp PAGE_DOWN  &kp PAUSE_BREAK
&trans                    &trans                            &trans                         &trans                           &trans                          &trans
            >;

            label = "NUM";
        };

        adjust_layer {
            bindings = <
&sys_reset    &bootloader   &ext_power EP_TOG  &studio_unlock  &trans          &trans      &trans          &trans            &trans  &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2       &bt BT_SEL 3    &bt BT_SEL 4    &kp C_STOP  &kp C_PREVIOUS  &kp C_PLAY_PAUSE          &kp C_NEXT
&trans        &trans        &trans             &bt BT_CLR      &bt BT_CLR_ALL  &trans      &trans          &trans            &trans  &kp UNDERSCORE
&trans        &trans                           &trans                          &trans                      &trans                    &trans
            >;

            label = "ADJ";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust {
            if-layers = <2 1>;
            then-layer = <3>;
        };
    };
};

&kscan0 {
    debounce-press-ms = <7>;
    debounce-release-ms = <7>;
};
